*{
    box-sizing: border-box;
}

html{
    font-size: 18px;
}

body{
    font-size: 1rem;
}

.wrapper{
    height: 100%;
    width: 100%;
    background-image: url(img/cool-background.jpg);
}

#menuA{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background: #fff;

}

#menuB{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    background: #fff;

}